{% extends 'baseAdmin.html.twig' %}

{% block title %}Slider index{% endblock %}

{% block body %}
    <h1>Slider index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>Titre</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slider in sliders %}
            <tr>
                <td>{{ slider.id }}</td>
                <td>{{ slider.imageName }}</td>
                <td>{{ slider.titre }}</td>
                <td>{{ slider.description }}</td>
                <td>{{ slider.createdAt ? slider.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ slider.updatedAt ? slider.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('slider_show', {'id': slider.id}) }}">show</a>
                    <a href="{{ path('slider_edit', {'id': slider.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slider_new') }}">Create new</a>
{% endblock %}
